<p *ngIf="condition; else elseBlock">True</p>
<ng-template #elseBlock>
  <p>
    False
  </p>
</ng-template>

<hr>

<p *ngIf="conditionClick">True</p>
<p *ngIf="!conditionClick">False</p>
<p><button (click)="onClick()">Clicar</button></p>

<hr>

<ul>
  <li *ngFor="let item of listaNomes; let i = index;" (click)="onClickEventList(i)">[{{ i }}] - Nome: {{ item.nome }} | Idade: {{ item.idade }}</li>
</ul>

<hr>

<p><button (click)="onClickAddList()">Adicionar</button></p>

<hr>

<input type="text" [(ngModel)]="nome">
<div [ngSwitch]="nome">
  <p *ngSwitchCase="'Danilo'">Danilo</p>
  <p *ngSwitchCase="'Rosana'">Rosana</p>
  <p *ngSwitchDefault>Deu ruim</p>
</div>
